body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.7s ease;
}
html {
    scroll-behavior: smooth;
}
:root {
    --base-title: #787878;
    --base-bg: #F7F7F7;
    --base-txt: #666666;
    --base-border: #E0E0E0;
    --base-hover: #333333;
    --base-txt-form: #666666;
    --txt-tranfare: #ffffff;
}

.dark-mode {
    --base-title: #ffffff;
    --base-bg: #ffffff;
    --base-txt: #dcdcdc;
    --txt-nav-dark: #000000;
    --base-border: #ebeaea;
    --base-hover: #b4b1b1;
    --px-border: 2px;
    --base-txt-form: #000000;
    --txt-tranfare: #000000;
    background-color: #000000;
}

a {
    text-decoration: none;
}

/* Start Home */
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 70vh;
}

header .article-home h1 {
    font-size: 3em;
    font-weight: normal;
    color: var(--base-title);
}

header .article-home h2 {
    font-size: 3em;
    color: var(--base-txt);
}

header .top-nav {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

header .top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 1px solid var(--base-border);
}

header .top-nav ul li a {
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    color: var(--base-txt);
    padding: 11px 30px;
    display: block;
    transition: background-color 0.3s ease;
}

header .top-nav ul li a:hover,
.active {
    background-color: var(--base-bg);
}

.dark-mode .top-nav ul li a:hover,
.active {
    color: var(--txt-nav-dark);
    background-color: var(--base-bg);
}
.dark-mode .active {
    color: var(--txt-nav-dark);
}

/* main Start Show Photo */
main {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0;
}

main .container-l,
main .container-r {
    width: 48%;
}

main img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
    border: var(--px-border) solid var(--base-border);
}
/* Contact Start */
#contact {
    margin: 0 3rem 13rem 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#contact article,#contact form {
    width: 50%;
}
#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact article p {
    font-size: 3.5em;
    white-space: pre;
    color: var(--base-title);
}

#contact > form input,
#contact > form textarea
{
    width: 75%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid var(--base-border);
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: 15px;
    caret-color: var(--base-txt);
    color: var(--base-txt-form);
}
::placeholder{
    color: var(--base-txt-form);
}
#contact > form .label-date{
    color: var(--base-title);
    font-size: 20px;
}


#contact > form button[type="submit"]{
    background-color: var(--base-title);
    color: var(--txt-tranfare);
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact > form button[type="submit"]:hover{
    background-color: var(--base-hover);
}

/* Footer Start */
footer {
    background-color: var(--base-bg);
    padding: 30px 0 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.dark-mode footer {
    background-color:  var(--txt-nav-dark);
    color: var(--base-txt);
}

footer .social-media a {
    margin-right: 20px;
    color: var(--base-txt);
    font-size: 24px;
    transition: color 0.3s ease;
}

footer .social-media a:hover
 {
    color: var(--base-hover);

}

#changeMode {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 0;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: var(--base-border);
    transition: 0.3s ease;
}

#changeMode i:last-child{
    display: none;
}

#changeMode i:first-child{
    color: var(--base-txt);
}
.dark-mode #changeMode i:first-child{
    display: none;
    color: var(--base-txt);
}
.dark-mode #changeMode i:last-child{
    display: block;
}
#toUp {
    position: fixed;
    right: 20px;
    bottom: 40px;
    padding: 0;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--base-txt);
    background-color: var(--base-border);
    transition: 0.8s ease;
    transform: translateY(250%);
}
.dark-mode #toUp {
    color: var(--txt-nav-dark);
    background-color: var(--base-bg);
}
.dark-mode #toUp:hover,
.dark-mode #changeMode:hover{
    background-color: var(--base-hover);
}


/* scroll */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--base-border);
    border-radius: 50px;
}

